*.o
*.pdf
*.fig
*.dat
fort.*
*.go3
*.txt
*.log
*.tex
*.aux
*.save*
int2*
*.so
*.a
*.vtk
*.asv
*.DS_STORE*
*.msh*
*.mod
*.sh
*egg-info
make.inc
todo
*mexmaca*
*old*
*vscode
*.swp
*.png
*.mat
!*geom.mat
*.zip
*.mp4
*.mexa64
*.mexmaca64
*.nb
